<section id="about" class="about-us">
    <div class="title-start col-md-4 col-md-offset-4">
    <br />
        <h2>Om Os</h2>
        <p class="sub-text text-center"></p>
    </div>
    <div class="container">
    <div class="about-first">
    <div class="block col-md-4">
        <div class="content-block">
            <i class="fa fa-users fa-3x"></i>
            <h3>Stor kundekreds</h3>
            <p>Vi holder Arrengementer for mange store grupper og virksomheder men tilbyder også lokaler og sale til mindre virksomheder der ønsker.</p>
        </div>
    </div>
    <div class="block col-md-4">
        <div class="content-block">
            <i class="fa fa-home fa-3x"></i>
            <h3>Stor plads</h3>
            <p>vores virksomhed kan tilbyde 5 sale i forskellige størrelser og 8 mødelokaler til dem der skal holde mindre arrengemneter.</p>
        </div>
    </div>
    <div class="block col-md-4">
        <div class="content-block">
            <i class="fa fa-comments fa-3x"></i>
            <h3>Feedback</h3>
            <p>vi er altid glade for at få tilbage meldinger på hvor gode jeres oplevelse har været, i er også velkommende til at kontakt os i tilfælde af spørgsmål.</p>
        </div>
    </div>
    </div>
    <div class="about-part">
    <div class="col-md-8">
    
        <h3>Om Virksomheden</h3>
        

        <p>Roskilde Kongrescenter Bauhaus Arena er et moderne kongrescenter med plads til alle typer arrangementer - fra kurser, konferencer og messer til udstillinger, 
            shows og fester. Vores nyeste sal på 2.600 m2 med Nordeuropas største fleksible tribune giver desuden optimale muligheder for store koncerter og sportsbegivenheder.
             I alt råder vi over godt 13.500 m2. Med 4 store sale, 8 mødelokaler og en moderne restaurant kan vi i høj grad tilpasse os vores kunders behov.
              Vi har desuden over 750 gratis p-pladser lige uden for døren og ligger tæt på offentlig transport, så det er nemt at samle folk fra hele landet..</p>
    </div>
    </div>
    </div>
</section>