<p>Vores mål er ikke, at du skal indrette dig efter os. I stedet indretter vi os så vidt muligt efter dine behov.
    Vores 13.500 m2 rummer bl.a. 5 store sale, 8 mødelokaler, en restaurant og en lounge. 3 af vores sale har fleksible tribuner, og den største sal har plads til ca. 2.500 siddende gæster.
        
    Det giver stor fleksibilitet i forhold til dit netop arrangement.</p>