<section id="schedule" class="row">
        <div class="title-start schedule-menu col-md-4 col-md-offset-4">
        <br />
            <h2>Event Liste</h2>
            <p class="sub-text text-center">Se detailjer for events</p>
        </div>
            <ul class="timeline">
                <li>
                    <div class="timeline-badge">
                      <a><i class="fa fa-circle" id=""></i></a>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Event One</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="timeline-other col-md-12">
                                
                                <em class="timeline-item">
                                </em> 

                                <em class="timeline-item">
                                </em>

                                <em class="timeline-item">
                                </em>

                                <em class="timeline-item">
                                </em>

                                <em class="timeline-item">
                                </em>

                                <em class="timeline-item">
                                </em>

                                <button class="button-info read-more">Bestil</button>
                            </p>
                        </div>
                        
                    </div>
                </li>
                
                <li  class="timeline-inverted">
                    <div class="timeline-badge">
                      <a><i class="fa fa-circle" id=""></i></a>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Event Two</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="timeline-other col-md-12">
                                
                                <em class="timeline-item">
                                </em>

                                <em class="timeline-item">
                                </em>

                                <em class="timeline-item">
                                </em>

                                <em class="timeline-item">
                                </em>

                                <em class="timeline-item">
                                </em>

                                <em class="timeline-item">
                                </em>

                                <button class="button-info read-more">Bestil</button>
                            </p>
                        </div>
                        
                    </div>
                </li>
                
                <li>
                    <div class="timeline-badge">
                      <a><i class="fa fa-circle" id=""></i></a>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Event Three</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="timeline-other col-md-12">
                                
                                <em class="timeline-item">
                                </em> 

                                <em class="timeline-item">
                                </em>

                                <em class="timeline-item"> 
                                </em>

                                <em class="timeline-item">
                                </em>

                                <em class="timeline-item">
                                </em>

                                <em class="timeline-item">
                                </em>

                                <button class="button-info read-more">Bestil</button>
                            </p>
                        </div>
                    </div>
                </li>
                
                <li class="timeline-inverted">
                    <div class="timeline-badge">
                      <a><i class="fa fa-circle" id=""></i></a>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Event Four</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="timeline-other col-md-12">
                                
                                <em class="timeline-item">
                                </em> 

                                <em class="timeline-item">
                                </em>

                                <em class="timeline-item">
                                </em>

                                <em class="timeline-item">
                                </em>

                                <em class="timeline-item">
                                </em>

                                <em class="timeline-item">
                                </em>

                                <button class="button-info read-more">Bestil</button>
                            </p>
                        </div>
               
                    </div>
                </li>
                
                <li>
                    <div class="timeline-badge">
                      <a><i class="fa fa-circle" id=""></i></a>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Event Five</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="timeline-other col-md-12">
                                
                            <em class="timeline-item">
                                </em> 

                                <em class="timeline-item">
                                </em>

                                <em class="timeline-item">
                                </em>

                                <em class="timeline-item">
                                </em>

                                <em class="timeline-item">
                                </em>

                                <em class="timeline-item">
                                </em>

                                <button class="button-info read-more">Bestil</button>
                            </p>
                        </div>
                        
                    </div>
                </li>
                
                <li  class="timeline-inverted">
                    <div class="timeline-badge">
                      <a><i class="fa fa-circle" id=""></i></a>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Event Six</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="timeline-other col-md-12">
                                
                                <em class="timeline-item">
                                </em> 

                                <em class="timeline-item">
                                </em>

                                <em class="timeline-item">
                                </em>

                                <em class="timeline-item">
                                </em>

                                <em class="timeline-item">
                                </em>

                                <em class="timeline-item">
                                </em>

                                <button class="button-info read-more">Bestil</button>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="clearfix no-float"></li>
            </ul>
            
        </section>


